<h1>All datas</h1> 
<table border='1'>
	<tr><td> ID</td>
		<td>Username</td>
		<td>Password</td>
		<td>Edit</td>
		<td>Delete</td>
			
		
	</tr>
	<% @students.each do |s| %>
	<tr>
		<td> <%= s.id %></td>
		<td> <%= s.username%></td>
		<td> <%= s.password%></td>
		
		<td> <%= link_to 'edit',:action=>'edit',:id=>s.id %></td>
		
		<td><%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		
	</tr>
	<% end%>
</table>
 <%= link_to 'back',:action=>'new' %>